name: loja
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.16.2 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0
  cupertino_icons: ^1.0.2
  google_fonts: ^2.3.2
  provider: ^6.0.2
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.9.3


  flutter_lints: ^1.0.0

flutter_icons:
  ios: true
  android: true
  image_path: "assets/store.png"

flutter:

 uses-material-design: true
 assets:
    - assets/

